{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ course.name }}</h1>

  <p><strong>Description:</strong> <a>{{ course.description }}</a></p>
  <p><strong>Rating:</strong> {{ course.rating }}</p>

    <!-- {% if user.is_authenticated %} -->
   <!-- <li><a href="{% url '' %}">View materials</a></li> -->
    <!--    <li><a href="{% url 'rate_course' %}">Rate course</a></li> -->
   <!-- {% endif %} -->

{% endblock %}