{% extends "base_generic.html" %}

{% block content %}
    <h1>Courses List</h1>

    {% if courses_list %}
    <ul>

      {% for course in courses_list %}
      <li>
        <a>{{ course.name }}</a> ({{course.description}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no courses in the app.</p>
    {% endif %} 
{% endblock %}