{% extends "base_generic.html" %}

{% block content %}
<h1>Online Courses App Home</h1>

  <p>Welcome to <em>online courses application</em>, a result of a testing solution made by Oydinoy Zufarova.</p>

<h2>Dynamic content</h2>

  <p>For now we have the following amount of courses available:</p>
  <ul>
    <li><strong>Available courses:</strong> {{ num_courses }}</li>
  </ul>

{% endblock %}







