{% extends "base_generic.html" %}

{% block content %}
    <h1><My_courses></h1>

    {% if my_courses_list %}
    <ul>

      {% for course in my_courses_list %}
        <a href="{% url 'course-detail' course.course.pk %}">{{course.course.name}}</a>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no courses.</p>
    {% endif %}
{% endblock %}